.name {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  align-items: center;
  overflow: disabled;
  color: white;
  gap: 4rem;
  background-size: cover;
  background: rgb(44, 44, 46);
  background: linear-gradient(0deg, rgba(44, 44, 46, 1) 1%, rgba(0, 0, 0, 1) 100%);
  position: absolute;
  right: 0;
  bottom: 0;
  min-height: 100%;
  width: 100%;

  .title {
    margin-left: 10rem;
    grid-column: 1/2;
  }

  .about-hide {
    display: none;
  }

  h2 {
    font-size: 2.5rem;
    margin-top: 0;
    text-align: center;
  }

  h2:nth-of-type(1) {
    opacity: .6;
    margin-top: 7rem;
    font-size: 2rem;
  }

  p.link {
    border-bottom: 1px solid white;
    cursor: pointer;
    max-width: fit-content;
    margin: auto;
  }

  .card-hide {
    display: none;
  }

  .about {
    display: block;
  }

  img {
    width: 25vw;
    height: auto;
  }

  .card-show {
    min-width: 30%;
    border: 1px solid white;
    justify-self: center;
    margin: auto;
    padding: 1.5rem;
    font-size: 1.2rem;
    animation: slidein 1s ease-in;
  }

  @keyframes slidein {
    from {
      transform: translateY(10%);
    }
  }

  .x-icon {
    display: flex;
    justify-content: end;
    font-size: 1.5rem;
    cursor: pointer;
  }


  .light {
    position: absolute;
    width: 0px;
    opacity: .75;
    background-color: rgb(114, 114, 114);
    box-shadow: #707070 0px 0px 20px 2px;
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
  }

  .x1 {
    -webkit-animation: floatUp 4s infinite linear;
    -moz-animation: floatUp 4s infinite linear;
    -o-animation: floatUp 4s infinite linear;
    animation: floatUp 4s infinite linear;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
  }

  .x2 {
    -webkit-animation: floatUp 7s infinite linear;
    -moz-animation: floatUp 7s infinite linear;
    -o-animation: floatUp 7s infinite linear;
    animation: floatUp 7s infinite linear;
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    left: 15%;
  }

  .x3 {
    -webkit-animation: floatUp 2.5s infinite linear;
    -moz-animation: floatUp 2.5s infinite linear;
    -o-animation: floatUp 2.5s infinite linear;
    animation: floatUp 2.5s infinite linear;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);
    left: -15%;
  }

  .x4 {
    -webkit-animation: floatUp 4.5s infinite linear;
    -moz-animation: floatUp 4.5s infinite linear;
    -o-animation: floatUp 4.5s infinite linear;
    animation: floatUp 4.5s infinite linear;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    left: -34%;
  }

  .x5 {
    -webkit-animation: floatUp 8s infinite linear;
    -moz-animation: floatUp 8s infinite linear;
    -o-animation: floatUp 8s infinite linear;
    animation: floatUp 8s infinite linear;
    -webkit-transform: scale(2.2);
    -moz-transform: scale(2.2);
    -o-transform: scale(2.2);
    transform: scale(2.2);
    left: -57%;
  }

  .x6 {
    -webkit-animation: floatUp 3s infinite linear;
    -moz-animation: floatUp 3s infinite linear;
    -o-animation: floatUp 3s infinite linear;
    animation: floatUp 3s infinite linear;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
    left: -81%;
  }

  .x7 {
    -webkit-animation: floatUp 5.3s infinite linear;
    -moz-animation: floatUp 5.3s infinite linear;
    -o-animation: floatUp 5.3s infinite linear;
    animation: floatUp 5.3s infinite linear;
    -webkit-transform: scale(3.2);
    -moz-transform: scale(3.2);
    -o-transform: scale(3.2);
    transform: scale(3.2);
    left: 37%;
  }

  .x8 {
    -webkit-animation: floatUp 4.7s infinite linear;
    -moz-animation: floatUp 4.7s infinite linear;
    -o-animation: floatUp 4.7s infinite linear;
    animation: floatUp 4.7s infinite linear;
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -o-transform: scale(1.7);
    transform: scale(1.7);
    left: 62%;
  }

  .x9 {
    -webkit-animation: floatUp 4.1s infinite linear;
    -moz-animation: floatUp 4.1s infinite linear;
    -o-animation: floatUp 4.1s infinite linear;
    animation: floatUp 4.1s infinite linear;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    left: 85%;
  }

  button:focus {
    outline: none;
  }

  @-webkit-keyframes floatUp {
    0% {
      top: 100vh;
      opacity: 0;
    }

    25% {
      opacity: 1;
    }

    50% {
      top: 0vh;
      opacity: .8;
    }

    75% {
      opacity: 1;
    }

    100% {
      top: -100vh;
      opacity: 0;
    }
  }

  @-moz-keyframes floatUp {
    0% {
      top: 100vh;
      opacity: 0;
    }

    25% {
      opacity: 1;
    }

    50% {
      top: 0vh;
      opacity: .8;
    }

    75% {
      opacity: 1;
    }

    100% {
      top: -100vh;
      opacity: 0;
    }
  }

  @-o-keyframes floatUp {
    0% {
      top: 100vh;
      opacity: 0;
    }

    25% {
      opacity: 1;
    }

    50% {
      top: 0vh;
      opacity: .8;
    }

    75% {
      opacity: 1;
    }

    100% {
      top: -100vh;
      opacity: 0;
    }
  }

  @keyframes floatUp {
    0% {
      top: 100vh;
      opacity: 0;
    }

    25% {
      opacity: 1;
    }

    50% {
      top: 0vh;
      opacity: .8;
    }

    75% {
      opacity: 1;
    }

    100% {
      top: -100vh;
      opacity: 0;
    }
  }

}

.white-content {
  .name {
    color: black;
    background: rgb(200, 200, 198);
    background: linear-gradient(90deg, rgba(200, 200, 198, 1) 0%, rgba(255, 255, 255, 1) 100%);

    p.link {
      border-bottom: 1px solid rgb(89, 89, 89);
    }

    .card-show {
      border: 1px solid rgb(89, 89, 89);
    }

    .light {
      background-color: rgb(82, 82, 82);
      box-shadow: #6f6f6f 0px 0px 20px 2px;
    }

  }

}

@media screen and (max-width: 800px) {
  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    .image-container {
      display: none;
    }

    .title {
      margin: 0;
      margin-bottom: 4.5rem;
    }

    .card-show {
      margin: 1rem;
      margin-bottom: 40%;
      padding: .8rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .name {
    min-height: 100vh;
    min-width: 100vw;
    .card-show {
      padding: .4rem;
      position: absolute;
      top: 6rem;
      left: 20px;
      z-index: 10;
      max-height: 400px;
      overflow-y: scroll;
    }
  }
}

@media screen and (max-width: 420px) {
  .name {
    .card-show {
      padding: .4rem;
      position: absolute;
      top: 6rem;
      left: 20px;
      z-index: 10;
      max-height: 400px;
      overflow-y: scroll;
    }
  }
}