.project-details {
  background: rgb(44, 44, 46);
  background: linear-gradient(0deg, rgba(44, 44, 46, 1) 1%, rgba(0, 0, 0, 1) 100%);
  height: 100vh;
  padding: 2rem;
  padding-top: 5rem;
  color: white;


  .project-wrapper {
    display: flex;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
  }

  .project-wrapper img {
    margin: 1rem;
  }

  .images {
    display: flex;
    flex-direction: column;
  }

  .icon-back {
    font-size: 2rem;
    display: block;
    margin-bottom: 3rem;
    color: white;
  }

  .details {
    max-width: 70%;
    margin-bottom: 12rem;
  }

  h2 {
    margin-top: 0;
  }

  img {
    width: 200px;
    height: 200px;
  }

  .details a {
    color: #fff;
  }

}

.white-content {
  .project-details {
    background: rgb(200, 200, 198);
    background: linear-gradient(90deg, rgba(200, 200, 198, 1) 0%, rgba(255, 255, 255, 1) 100%);
    color: black;
  }

  .icon-back {
    color: black;
  }

  .details a {
    color: #000000;
  }
}

@media screen and (max-width: 800px) {
  .project-details {
    height: 200%;
    .project-wrapper {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }

    .images {
      flex-direction: row;
    }
  }
}

@media screen and (max-width: 500px) {
  .project-details {

    img {
      display: none;
    }
  }
}