.project-details {
  background: rgb(44, 44, 46);
  background: linear-gradient(0deg, rgba(44, 44, 46, 1) 1%, rgba(0, 0, 0, 1) 100%);
  height: 100vh;
  padding: 2rem;
  padding-top: 5rem;
  color: white;
  min-width: 100vw;


  .project-wrapper {
    display: flex;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 2rem;
  }

  .image-wrapper {
    overflow: hidden;
    max-width: 300px;
    max-height: 400px;
    cursor: pointer;
    transition: transform 0.3s;
    background-color: rgba(104, 103, 103, 0.1);
    border-radius: 12px;
  }
  
  .project-wrapper img {
    transition: transform 0.3s;
    margin: 1rem;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    }

  .images:hover img{
    transform: scale(1.7) translateY(20%) translateX(10%);
    object-fit: contain;
  }

  .images:hover .image-wrapper {
    width: 600px;
    height: 900px;
  }

  .images {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .icon-back {
    font-size: 2rem;
    display: block;
    margin-bottom: 3rem;
    color: white;
  }

  .details {
    max-width: 70%;
    // margin-bottom: 20rem;
  }

  h2 {
    margin-top: 0;
  }

  img {
    width: 200px;
    height: 200px;
  }

  .details a {
    color: #fff;
  }

}

.white-content {
  .project-details {
    background: rgb(200, 200, 198);
    background: linear-gradient(90deg, rgba(200, 200, 198, 1) 0%, rgba(255, 255, 255, 1) 100%);
    color: black;
  }

  .icon-back {
    color: black;
  }

  .details a {
    color: #000000;
  }
}

@media screen and (max-width: 800px) {
  .project-details {
    min-height: 100vh;
    height: 200%;
    .project-wrapper {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }

    .images {
      flex-direction: row;
      margin-bottom: .5rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .project-details {
    min-width: 130%;

    img {
      display: none;
    }
  }
}