.projects {
  background: rgb(44, 44, 46);
  background: linear-gradient(0deg, rgba(44, 44, 46, 1) 1%, rgba(0, 0, 0, 1) 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .title {
    color: white;
    font-size: 3rem;
    margin-right: 40%;
    margin-bottom: 3rem;
  }

  .gallery {
    display: flex;
    width: 75vw;
    height: 40vh;
  }

  .project-card {
    min-width: 0;
    flex: 1 1 10px;
    object-fit: cover;
    opacity: 0.5;
    transition: 0.5s;
  }

  .project-card:hover {
    flex: 1 1 280px;
    opacity: 1;
  }

  .project-card {
    display: flex;
    overflow: hidden;
   height: 100%;
   width: 100%;
    border-radius: 15px;
    background-color: rgb(74, 74, 74);
    align-items: center;
    justify-content: center;
    margin: .2%;
    position: relative;
  
    img {
      overflow: hidden;
      position: absolute;
    }

    &:hover {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .text-wrapper {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-column: 2/3;
    
        h2 {
          margin: 0;
        }
    
        button{
          background-color: #36EEE0;
          width: 100px;
          border-radius: 20px;
          padding: 0.3rem;
          border: none;
        }
      }

    }
  

  }

}