.projects {
  background: rgb(44, 44, 46);
  background: linear-gradient(0deg, rgba(44, 44, 46, 1) 1%, rgba(0, 0, 0, 1) 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;

  .title {
    color: white;
    font-size: 2rem;
    margin-right: 50%;
    margin-bottom: 3rem;
  }

  .gallery {
    display: flex;
    width: 75vw;
    height: 40vh;
  }

  .project-card {
    min-width: 0;
    flex: 1 1 10px;
    object-fit: cover;
    opacity: 0.5;
    transition: 0.5s;
  }

  .project-card:hover {
    flex: 1 1 280px;
    opacity: 1;
  }

  .project-card {
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-color: rgb(74, 74, 74);
    align-items: center;
    justify-content: center;
    margin: .2%;
    position: relative;

    .image-wrapper {
      position: absolute;
      overflow: hidden;
      width:90%;
      height: 90%;
      max-width: 200px;
      max-height: 300px;
    }

    .text-wrapper {
      opacity: 0;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }

    button {
      background-color: #36EEE0;
      width: 100px;
      border-radius: 20px;
      padding: 0.3rem;
      border: none;
      transition: ease-out 0.5s;
      -webkit-transition: ease-out 0.5s;
      -moz-transition: ease-out 0.5s;
    }

    &:hover {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .text-wrapper {
        opacity: 1;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-column: 2/3;

        h2 {
          margin: 0;
        }

        button {
          background-color: #36EEE0;
          width: 100px;
          border-radius: 20px;
          padding: 0.3rem;
          border: none;
          transition: ease-out 0.5s;
          -webkit-transition: ease-out 0.5s;
          -moz-transition: ease-out 0.5s;
        }

        button:hover {
          background-color: #95f7ef;
          transform: scale(1.2);
        }
      }

    }


  }

}

.white-content {
  .projects {
    background: rgb(200, 200, 198);
    background: linear-gradient(90deg, rgba(200, 200, 198, 1) 0%, rgba(255, 255, 255, 1) 100%);

    .title {
      color: black;
    }

    .project-card {
      background-color: rgb(183, 183, 183);
      opacity: .85;

      button {
        background-color: #e6a637;
      }

      &:hover {

        .text-wrapper {
          color: black;

          button {
            background-color: #e6a637;
          }

          button:hover {
            background-color: #f4c36f;
            transform: scale(1.2);
          }
        }
      }
    }

  }
}

@media screen and (max-width: 800px) {
  .projects {
    padding-top: 3rem;
    .gallery {
      flex-direction: column;
      width: 45vw;
      height: 100vh
    }

    .title {
      margin: 0 auto 3rem auto;
    }

    .project-card {
      margin: 0.5rem;

      .text-wrapper {
        margin: auto;
        grid-column: 1/-1;
        opacity: 1;
      }

      // .text-wrapper button {
      //   background-color: #36EEE0;
      //   width: 100px;
      //   border-radius: 20px;
      //   padding: 0.3rem;
      //   border: none;
      //   transition: ease-out 0.5s;
      //   -webkit-transition: ease-out 0.5s;
      //   -moz-transition: ease-out 0.5s;
      // }

      .image-wrapper {
        display: none;
      }

      img {
        display: none;
      }

      &:hover {
        .text-wrapper {
          margin: auto;
          grid-column: 1/-1;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {

  .projects .title {
    margin-top: 3rem;
  }

}