.header {
  background-color: rgba(138, 138, 138, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  margin: 0;
  z-index: 5;
  font-family: $head_font;
  a {
    color: white;
    text-decoration: none;
    margin: .7rem 1.2rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: $head_font;

  }

  a:hover {
    color: #36EEE0;
  }

  //toggle button
  .switch {
    position: relative;
    margin-bottom: 1rem;
  }
  }

  .icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.icon:hover {
  color: #36EEE0;
}

.hidden {
  display: none;
}

.white-content {
  .header {
    background-color: rgba(117, 116, 116, 0.264);
    a {
      color: rgb(43, 43, 43);
  
    }

    a:hover {
      color: #e6a637;
    }

    .icon {
      color: black;
    }

    .icon:hover {
      color: #e6a637;
    }
    
  }
}