.header {
  background-color: rgba(138, 138, 138, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  margin: 0;
  z-index: 5;
  font-family: $head_font;

  .menu {
    display: none;
  }

  a {
    color: white;
    text-decoration: none;
    margin: .7rem 1.2rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: $head_font;

  }

  a:hover {
    color: #36EEE0;
  }

  //toggle button
  .switch {
    position: relative;
    margin-bottom: 1rem;
  }
}

.icon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.icon:hover {
  color: #36EEE0;
}

.hidden {
  display: none;
}

.white-content {
  .header {
    background-color: rgba(117, 116, 116, 0.264);

    a {
      color: rgb(43, 43, 43);

    }

    a:hover {
      color: #e6a637;
    }

    .icon {
      color: black;
    }

    .icon:hover {
      color: #e6a637;
    }

  }
}

@media screen and (max-width: 800px) {
  .header {
    .menu {
      position: fixed;
      right: 2rem;
      top: 1rem;
      width: 30px;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: .5s;
      z-index: 10;
    }

    .menu-line1 {
      width: 100%;
      height: 2px;
      background: #fff;
      transition: .6s;
    }

    .menu-line2 {
      width: 80%;
      height: 2px;
      margin-top: .7rem;
      background: #fff;
      transition: .6s;
    }

    .rotate{
      position: fixed;
      right: 2rem;
      top: 1rem;
      transform: rotateZ(180deg);
      width: 20px;
      height: 20px;
    }

    .rotate1{
      transform: rotateZ(45deg);
      width: 100%;
      height: 2px;
      background-color: #fff;
    }

    .rotate2{
      position: absolute;
      top: 12px;
      width:100%;
      height: 2px;
      transform:  translate(0,-0.8rem) rotateZ(-45deg);
      background-color: #fff;
    }

    .navbar-show{
      position: fixed ;
      top:420px ;
      left: 0;
      background: rgba(31, 31, 31, 0.97);
      width: 100%;
      height: 40vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      transform: translate(0,-100%);
      transition: .5s;
    }

    .navbar-hide {
      display: none;
    }
  }
}